* {
    margin: 0;
    padding: 0;
    }
    .header {
        height: 74px;
        background: black;
    }
    .container-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 25px;
        padding: 16px 16px;
    }
    .header-left {
        display: flex;
        justify-content: space-between;
    }
    .search{
        padding-left: 41px;
        padding-top: 10px;
    }
    /*....................................................*/
    .arrivals{
        background: #F8F3F4;
        min-height: 148px;
    }
    .new-arrivals {
        color: #F16D7F;
        font-size: 24px;
        line-height: 29px;
        padding-top: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .a{
        display: none;
    }
    .home-men {
        padding-top: 32px;
        padding-bottom: 46px;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 3px;
    }
    .span-new {
        color: #F16D7F;
    }
    /*.........................................................................*/
    .filters-container {
        display: flex;
        justify-content: space-between;
        padding-left: 8px;
        padding-right: 8px;
    }
    .filters-right {
        display: flex;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #6F6E6E;
    }
    .filters-left span {
        display: none;
        }
    .filters-left img {
        width: 37px;
        height: 25px;
    }
        .filters {
        margin-top: 24px;
        margin-bottom: 32px;
    }
    .filters-right img {
        position: relative;
        bottom: 1px;
        margin-left: 9px;
    }
    .filters-right >div:not(:last-child) {
        margin-right: 15px;
    }
/*......................................................*/
    .promo-item {
    margin-left: 6px;
    margin-right: 6px;
    }
    .promo-photo-item{
    margin-right: 6px;
    margin-right: 6px;
    background: #F7E4E2;
    width: 100%;
    }
    .promo-photo {
    width: 100%;
    }
    .promo-ellery{
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-top: 25px;
    margin-left: 17px;
    }
    .promo-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 12px;
    margin-left: 16px;
    }
    .sale{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-top: 18px;
    padding-left: 18px;
    padding-bottom: 36px;
    }
    /*......................................................*/
    .page-container {
    border: 1px solid #EBEBEB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 46px 46px 46px;
    padding: 15px;
    }
    .number {
    margin-right: 15px;
    display: flex;
    list-style-type: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    }
    .numder-one {
    color: #EF5B70;
    padding-right: 7px;
    padding-left: 7px;
    }
    .numbers {
    padding-right: 7px;
    padding-left: 7px;
    }
    .numbers-bottom{
    padding-right: 0 auto;
    }
/*.........................................................*/
    .delivery{
        background: #222224;
    }
    .delivery-container{
        padding-top: 46px;
    }
    .delivery-photo{
        padding-left: 143px;
        padding-bottom: 27px;
    }
    .free{
        font-size: 19.96px;
        line-height: 24px;
        color: #FBFBFB;
        text-align: center;
        padding-bottom: 18px;
    }
    .text{
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
        padding-bottom: 46px;
    }
    .subscribe{
        background: url(img/img.Rectangle\.png);
        background-size: cover;
        padding-top: 64px;
        padding-bottom: 109px;
    }
    .subscribe-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        .subscribe-user-text{
        padding-top: 30px;
        text-align: center;
        font-size: 18px;
        line-height: 22px;
        color: #222224;
        max-width: 330px;
        }
        .subscribe__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 65px;
        }
    .subscribe-title,
    .subscribeText {
        max-width: 271px;
        color: #222224;
        text-align: center;
        padding-top: 48px;
    }
    .subscribe-text {
    font-size: 14px;
    color: #222224;
    padding-bottom: 22px;
    padding-top: 28px;
    }
    .subscribe-form {
    height: 47px;
    }
    .subscribe-form input {
        height: inherit;
        background: #E1E1E1;
        padding: 6px 21px;
        border: none;
        box-sizing: border-box;
        border-top-left-radius: 28%;
        border-bottom-left-radius: 28%;
        float: left;
        color: #222224;
        }
        .subscribe-form button {
        height: inherit;
        border: none;
        color: white;
        font-size: 14px;
        line-height: 17px;
        font-family: inherit;
        background: #F16D7F;
        border-top-right-radius: 28%;
        border-bottom-right-radius: 28%;
        padding: 0 17px;
        }

    @media (min-width: 768px){
        .container-header {
        margin-left: 16px;
        margin-right: 16px;
        }
        } 

        @media (min-width: 1600px){
        .container-header{
        margin-left: 230px;
        margin-right: 230px;
        }
        }

        @media (min-width: 768px){
        .container {
        padding-left: 24px;
        padding-right: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
        .home-men {
        padding-top: 65px;
        }
    }
    @media (min-width: 1600px) {
        .container {
        margin-left: 230px;
        margin-right: 230px;
    }
    }


    @media (min-width: 768px){
        .filters-container {
        margin-left: 16px;
        margin-right: 16px;
        }
        }
        @media (min-width: 1600px) {
        .filters-container {
        margin-left: 230px;
        margin-right: 230px;
        }
        }
    
@media (min-width: 768px) {
    .filters-left span {
        display: inline;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
    .filters-left img {
        width: 15px;
        height: 10px; 
        margin-left: 11px; 
}
}
@media (min-width: 768px) {
    .promo-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 18px;
        column-gap: 16px;
    }
}
@media (min-width: 1600px) {
    .promo-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 18px;
        column-gap: 16px;
        margin-left: 230px;
        margin-right: 230px;   
    }
}
@media (min-width: 768px) {
        .page-container {
        margin-left: 250px;
        margin-right: 230px;
}
}
@media (min-width: 1600px) {
    .page-container {
    margin-left: 450px;
    margin-right: 450px;
}
} 
@media (min-width: 768px) {
    .delivery-photo{
        padding-left: 362px;
        padding-bottom: 28px;
    }
}
@media (min-width: 1600px) {
    .delivery-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 104px;
        margin-left: 230px;
        margin-right: 230px;
        padding-bottom: 104px;
    }
    .delivery-photo{
        padding-left: 164px; 
    }
    }
    @media (min-width: 768px) {
        .subscribe-right{
        margin-left: 250px;
        
        }
    }